## 자연어 처리를 통한 성격 예측 : 데이터 확인 및 전처리

In [114]:
import numpy as np
import pandas as pd
import re
import pickle
import nltk
import warnings
from nltk.corpus import stopwords
warnings.filterwarnings('ignore')               # Turn the warnings off.

### 1. 데이터 살펴보기

In [115]:
df = pd.read_csv("mbti_1.csv")
df.shape

(8675, 2)

In [116]:
df.head(5)

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [117]:
df.info()
# 결측치 존재하지 않는다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8675 entries, 0 to 8674
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    8675 non-null   object
 1   posts   8675 non-null   object
dtypes: object(2)
memory usage: 135.7+ KB

In [118]:
# 중복데이터 확인

df['posts'].nunique() # 중복데이터 없음

8675

### 2. 데이터 전처리

In [119]:
# 불용어사전 만들기
stopwords = stopwords.words("english")

In [120]:
# 불용어 추가
# stopwords += []

In [121]:
df.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [122]:
# 데이터프레임 유지 하에 전처리 진행

df['posts'] = df['posts'].apply(lambda x : re.sub(r'(https|http):\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)', ' ', x))
df['posts'] = df['posts'].apply(lambda x : x.lower())
df['posts'] = df['posts'].apply(lambda x : re.sub(r'\W', ' ', x))
df['posts'] = df['posts'].apply(lambda x : re.sub(r'_', ' ', x))
df['posts'] = df['posts'].apply(lambda x : re.sub(r'\d+', ' ', x))
df['posts'] = df['posts'].apply(lambda x : re.sub(r'\s+', ' ', x))
df['posts'] = df['posts'].apply(lambda x : re.sub(r'^\s|\s$', '', x))

In [125]:
# stopwords 제거 
for i in range(len(df['posts'])):
    words = nltk.word_tokenize(df['posts'][i])                              
    words = [x for x in words if x not in stopwords] # 불용어 제거     
    words = [x for x in words if len(x) > 2] # 특정 길이 이하의 단어 제거
    df['posts'][i] = ' '.join(words)

In [126]:
df.head()

   type                                              posts
0  INFJ  enfp intj moments sportscenter top ten plays p...
1  ENTP  finding lack posts alarming sex boring positio...
2  INTP  good one course say know blessing curse absolu...
3  INTJ  dear intp enjoyed conversation day esoteric ga...
4  ENTJ  fired another silly misconception approaching ...

In [127]:
# csv파일로 따로 저장해둔다. 

df.to_csv("mbti_new.csv", index = False)